.btn-login[b-hevpmdgmi9] {
    color: #003866;
}

    .btn-login:hover[b-hevpmdgmi9] {
        padding: 10px;
        border-radius: 10px;
        background-color: #c9c9c9;
    }

.btn-cart[b-hevpmdgmi9] {
    color: #003866;
}

    .btn-cart:hover[b-hevpmdgmi9] {
       
        border-radius: 10px;
        background-color: #c9c9c9;
    }
