@page "/NavbarGuset"
@using ProjectRbRuRe.Data.Services;
@using ProjectRbRuRe.Data.Models;



<div class="container-fluid  shadow  rounded " style="background-color:gainsboro; z-index:0; width:100%;">
	<div class="d-flex bd-highlight mb-3">
		<div class="me-auto p-2 bd-highlight">
			<div class="col">
				<a href="/" class="text-decoration-none"><h1>ตลาดผลไม้</h1></a>
			</div>
		</div>

		<div class="p-2 bd-highlight mt-3">
			<a href="Login" style="text-decoration:none;"> เข้าสู่ระบบ</a>
		</div>
		<div class="p-2 bd-highlight mt-3">
			<a href="register" style="text-decoration:none;">สมัครสมาชิก</a>
		</div>
	</div>
</div>
