@page "/NavbarGuset"
@using ProjectRbRuRe.Data.Services;
@using ProjectRbRuRe.Data.Models;



<div class="container-fluid  shadow  rounded " style="background-color: #9AA544; z-index:0; width:100%;">
	<div class="d-flex bd-highlight mb-3">
		<div class="me-auto p-2 bd-highlight fs-1 ">
			<div class="col">
				<a href="/" style="text-decoration:none;" class="btn-login">
					ตลาดผลไม้
				</a>
			</div>
		</div>

		<div class="p-2 bd-highlight mt-2 fs-5">
			<a href="Login" style="text-decoration:none;" class="btn-login">		
				เข้าสู่ระบบ
			</a>
		</div>
		<div class="p-2 bd-highlight mt-2 fs-5">
			<a href="register" style="text-decoration:none;" class="btn-login ">สมัครสมาชิก</a>
		</div>
	</div>
</div>
