.btn-login {
    color: #003866;
}

    .btn-login:hover {
        padding: 10px;
        border-radius: 10px;
        background-color: #c9c9c9;
    }

.btn-cart {
    color: #003866;
}

    .btn-cart:hover {
       
        border-radius: 10px;
        background-color: #c9c9c9;
    }
